@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body,
html {
    overflow-x: hidden;
    color: #22181C;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: 100%;
    position: relative;
    
}

.offset:before {
    display: block;
    content: "";
    height: 5rem;
    margin-top: -4rem;
}

/*---Navigaton-----*/

.navbar {
    color: #B71419;
    background-color: #FAF9F9;
    font-weight: 200;
    font-size: 1.3rem;
    letter-spacing: .2rem;
    padding: 0px;
    height: 5.25rem;
    
    
}

.navbar-custom {
    background-color:#000000;
    
}

.navbar-brand img {
    height: 5.25rem;
    padding-left:.7rem 
}

.navbar-nav li  {
    padding-right: 1.5rem;
    
}

.navbar-dark .navbar-nav .nav-link {
    color: #FAF9F9;
    padding-top: 0.8rem;
    
}


.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(179, 19, 24);
    text-transform: uppercase;
}

.navbar-toggler {
    right: 15px;
    margin: 0 auto;
    position: fixed;
}

/*---Background----*/

.bgimg {
    background-image: url("../images/model_main.jpeg");
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: 36%; 
}

.slogan {
    position: absolute;
    width: 100%;
    max-width: 100%;
    top: 80%;
    z-index: 1;
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Calligraffitti;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 0.2em;
    color: #FAF9F9;
}

/*---About page----*/


.about-center h1,
.serivces-center h1,
.reviews-center h1,
.contact-center h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 25px; 
    text-align: center;
}

.about-wrapper {
    display:flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:100%;
  
}

.text-about {
    line-height: 2rem;
    text-align: justify;
    position: relative;
    margin: 10px;
    
    
}

.img-about {
    background: url("../images/model-about.jpeg");
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

/*---Service page----*/

.jumbotron {
    padding-top: 0;
}

.announcement {
    text-align: center;
    color: #B71419;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 1.25px;
    margin: 0 auto;
}

/*---Services slides decoration----*/ 


.card-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.service-card-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 23rem;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.card-body {
    width: 100%;
}

.service-text-custom {
    padding-top: 5px;
}

.book-btn,
.gallery-btn {
  background-color: #FAF9F9;
  color: #22181C;
  font-size: 16px;
  padding: 6px 12px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.book-btn:hover,
.gallery-btn:hover {
    color: #B71419;
    text-transform: uppercase;
}

.gallery-btn {
    margin-left: 5px;
    margin-top: 2px;
    float: left;
}

.book-btn {
    margin-right: 5px;
    margin-top: 2px;
    float: right;
}

.text-prices p {
    font-weight: 800;
    font-size: 1.2em;
    text-align: justify;
    width: 100%;
    position: relative;
    align-content: center;
    align-items: center;
    margin: 39px auto;
    padding: 15px;
    line-height: 2.0rem;
    background-color: whitesmoke;
    color:#b71419;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*---Reviews decoration----*/

.review-card-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.review-card-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 23rem;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.363));
    
}

.img-review {
    align-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    
}

.header-reviews {
    margin-top: 5px;
    padding-right: 45px;
    align-content: center;
    
}



.text-reviews {
    height: auto;
    font-size: 1.2em;
    line-height: 35px;    
    float: left;
    margin: 0 10px 10px;
}



.checked {
    color:rgb(245, 245, 122);
    font-size: 1.2em;

}


/*---Contact page decoration----*/

.contact-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;


}

.contacts-image {
    
    width: 300px;
    height: 300px;
}

.contact-wrapper p {
    text-align: justify;
    margin: 2rem;
}

.contact-form {
    align-items: center;
    margin-left: 30px;
    margin-bottom: 30px;
}

input[type=text], input[type=email], select, textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #22181C;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: vertical;
}

input[type=submit] {
  background-color: #B71419;
;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #B71419;
}


/*---Footer decoration----*/ 

.text-footer-custom {
    padding: 50px 10px 5px 5px;
    font-size: 1.2em;
    color:#22181C;

}

.text-footer-custom p {
    
    font-size: 1em;
    color:#22181C;
    line-height: 2em;
}

.text-center a {
    color:#22181C;
    padding-right: 30px;
    margin: auto 0;
    font-size: 1.3em;
    
}
.text-center a:hover {
    color: rgba(0, 0, 255, 0.678);
}


/*----Media Queries---*/

/*---Navigaton-----*/


@media (max-width: 768px) {
    .navbar {    
        font-size: 1.2rem;
    }
    
    .navbar-nav {
        background-color: rgba(165, 161, 161, 0.5);
        padding-right: 1rem;
        text-align: center;

    }
    .navbar-brand img {
        height: 3.5rem;
        width: auto;
        padding-left:1.7rem;
    }
}   

@media (max-width: 992px) {
    .navbar-brand img {
        height: 3.5rem;
        width: auto;
        padding-left:1.7rem;
    }
}   
/*---Background-----*/


@media screen and (min-width: 700px) {

  .bgimg {
      
      background-position-x: 40%;
    

    }
    .slogan h1 {
        position: absolute;
        width: 100%;
        max-width: 100%;
        top: 70%;
        left: 20%;
        padding-right: 10px;
        font-size: 60px;
        letter-spacing: 0.2em;
  }
}

/*---About-----*/



@media screen and (min-width: 700px) {
    .about-wrapper {
        display:flex;
        align-content: center;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        
        
    }

    .text-about {
        
        line-height: 2rem;
        text-align: justify;
        position: relative;
        margin: 60px;
        flex:1;
        
    }

    .img-about {
        width: 100%;
        height: 600px;
        background-size: contain;
        flex:1;
        
    }
     
}


/*----Services Page-----*/

@media screen and (min-width: 700px) {
    
    .card-wrapper {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    .service-card-custom {
        width: 35rem;
        margin: 10px;
    }
    
    .card-body {
    width: 100%;
    font-size: 1.5rem;
    }
    .service-text-custom {
        padding: 10px;
       font-size: 1.75rem;
    
    }

    .book-btn,
    .gallery-btn {
    font-size: 25px;
    padding: 6px 12px;
    text-align: center;
    }

    .gallery-btn {
        margin-left: 5px;
        margin-top: 2px;
        float: left;
    }

    .book-btn {
        margin-right: 5px;
        margin-top: 2px;
        float: right;
    }



    .text-prices p {
    position: relative;
    align-content: center;
    align-items: center;
    width: 85%;
    }
    
}

  

/*----Reviews Page-----*/

@media screen and (min-width: 700px) {
    .review-card-wrapper {
        flex-wrap: wrap;
        align-content: center;
        
        justify-content: space-around;
        clear: both;
        flex-direction: row;
        align-items: flex-start;
        display: flex;
        
    }
    .review-card-custom {
        width: 55rem;
        margin: 10px;
    }

}


/*----Contact Page-----*/

@media screen and (min-width: 700px) {
    .container {
        display: flex;
    }
    .contact-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex:0 0 52%;
    }
    .contact-form-wrapper {
        display: flex;
        flex:1;
        
    }
    .contact-wrapper p {
        width: 60%;
        margin-left: 15px;
        text-align: justify;
        
    }
    .contacts-image {
        
        margin-top: 15px;
        
    }
    .contact-form {
       width: 100%;
        
        
    }
}





/*Bootstrap 4 breakpoints

 
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
 
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
} 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}