@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body,
html {
    overflow-x: hidden;
    color: #22181C;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: 100%;   
}

.offset:before {
    display: block;
    content: "";
    height: 5rem;
    margin-top: -4rem;
}

/*---Navigaton-----*/

.navbar {
    color: #B71419;
    background-color: #FAF9F9;
    font-weight: 200;
    font-size: .9rem;
    letter-spacing: .2rem;
    padding: 0px;
    height: 5.25rem;
    
    
}

.navbar-custom {
    background-color:#000000;
    
}

.navbar-brand img {
    height: 5.25rem;
    padding-left:.7rem 
}

.navbar-nav li  {
    padding-right: 1.5rem;
    
}

.navbar-dark .navbar-nav .nav-link {
    color: #FAF9F9;
    padding-top: 0.8rem;
    
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(179, 19, 24);
    text-transform: uppercase;
}

.navbar-toggler {
    right: 15px;
    margin: 0 auto;
    position: fixed;
}

/*---Background----*/


.bgimg {
    background-image: url("../images/model_main.jpeg");
    height: 800px;
    top:20px !important;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slogan {
    position: relative;
    right: 45px;
    top: 480px;
    font-family: Calligraffitti;
    font-style: normal;
    font-weight: normal;
    font-size: 85px;
    line-height: 110px;
    letter-spacing: 0.2em;
    color: #FAF9F9;
}

/*---About page----*/


.about-center h1,
.serivces-center h1,
.reviews-center h1,
.contact-center h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 25px; 
    text-align: center;
}

.container-about-custom {
    display: inline;

}

.row-about {
    text-align: justify;
    width: 100%;
    height: 100%;
}

.text-about {
   margin-left: 30px;
    line-height: 2rem;
    float: left;
    
    
}

.img-about {
    background: url("../images/model-about.jpeg");
    float: right;
    width: 100%;
    height: 600px;
   background-repeat: no-repeat;
}

/*---Service page----*/

.jumbotron {
    padding-top: 0;
}

.announcement {
    text-align: center;
    color: #B71419;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 1.25px;
    margin: 0 auto;
}

/*---Services slides decoration----*/ 

.card-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.service-card-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 23rem;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.card-body {
    width: 100%;
    

}

.book-btn,
.gallery-btn {
  background-color: #FAF9F9;
  color: #22181C;
  font-size: 16px;
  padding: 6px 12px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.book-btn:hover,
.gallery-btn:hover {
    color: #B71419;
    text-transform: uppercase;
}

.gallery-btn {
    margin-left: 5px;
    margin-top: 2px;
    float: left;
}

.book-btn {
    margin-right: 5px;
    margin-top: 2px;
    float: right;
}

.text-prices p {
    font-weight: 800;
    font-size: 1.2em;
    text-align: justify;
    margin: 39px 35px;
    padding: 15px;
    line-height: 2.0rem;
    background-color: whitesmoke;
    color:#b71419;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*---Reviews decoration----*/

.review-card-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column
    
}

.review-card-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 23rem;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.363));
    
}

.img-review {
    align-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    
}

.header-reviews {
    margin-top: 5px;
    padding-right: 45px;
    align-content: center;
    
}



.text-reviews {
    height: auto;
    font-size: 1.2em;
    line-height: 35px;    
    float: left;
    margin: 0 10px 10px;
}



.checked {
    color:rgb(245, 245, 122);
    font-size: 1.2em;

}


/*---Contact page decoration----*/

.contact-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;


}

.contacts-image {
    
    width: 300px;
    height: 300px;
}

.contact-wrapper p {
    text-align: justify;
    margin: 2rem;
}

.contact-form {
    align-items: center;
    margin-left: 30px;
    margin-bottom: 30px;
}

input[type=text], input[type=email], select, textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #22181C;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: vertical;
}

input[type=submit] {
  background-color: #B71419;
;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #B71419;
}

/*.column-contacts-image {
    margin-top: 25px;
    margin-left: 15px;
    border-radius: 50px;
}

    

.text-contacts {
    color: #22181C;
    font-size: 1.2em;
    text-align: justify;
    
    
}

.column-contacts {
    margin: 25px;
    padding-bottom: 10px;
    margin-left: 120px;
}

*/

/*---Footer decoration----*/ 

.text-center {
    padding: 20px 10px 5px;
    font-size: 1.2em;
    color:#22181C;
    
}

.text-center p {
    
    font-size: 1.2em;
    color:#22181C;
    line-height: 2em;
}

.text-center a {
    color:#22181C;
    padding-right: 30px;
    margin: auto 0;
    font-size: 1.3em;
    
}
.text-center a:hover {
    color: rgba(0, 0, 255, 0.678);
}

hr.socket {
    width: 100%;
    border-top: .1rem #22181C solid; 
}

/*----Media Queries---*/

/*---Navigaton-----*/


@media (max-width: 768px) {
    .navbar {    
        font-size: 1.2rem;
    }

}

@media (max-width: 768px) {
    .navbar-nav {
        background-color: rgba(165, 161, 161, 0.5);
        padding-right: 1rem;
        text-align: center;

    }

}

@media (max-width: 768px) {
    .navbar-brand img {
        height: 3.5rem;
        width: auto;
        padding-left:1.7rem 
    }
}   

@media (max-width: 992px) {
    .navbar-brand img {
        height: 3.5rem;
        width: auto;
        padding-left:1.7rem 
    }
}   
/*---Background-----*/

@media (max-width: 768px) {
  .slogan {
    font-size: 10px;
    line-height: 110px;
    letter-spacing: 0.7em;
    right: -70px;
    top: 560px;
  }
}

@media (max-width: 768px) {
  .bgimg {
      background-image: url("../images/model_main-resized.jpg");
      height: 700px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
  }
}

/*---About-----*/



@media (max-width: 768px) {
    .row-about {
        margin-right: 0px;
        margin-left: 10px;
        padding-right: 5px;
        width: 100%;
        text-align: center;
    }
    .text-about {
        
        margin-left: 5px;
        text-align: justify;
        padding-right: 5px;
    }
    .img-about {
        width: 100%;
        margin-right: 5px;
        background-position-x: 56%; 
    }
}

@media screen and (min-width: 992px) {
    .img-about {
        width: 100%;
        margin-right: 5px;
        background-position-x: 56%; 
    }
}

/*----Services Page-----*/

@media screen and (min-width: 700px) {
    .card-wrapper {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    .service-card-custom {
        width: 23rem;
        margin: 10px;
    }
}

  

/*----Reviews Page-----*/

@media screen and (min-width: 700px) {
    .review-card-wrapper {
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        clear: both;
        flex-direction: row;
       
       display: flex;
        
    }
    .review-card-custom {
        width: 35rem;
        margin: 10px;
    }

}


/*----Contact Page-----*/

@media screen and (min-width: 700px) {
    .container {
        display: flex;
    }
    .contact-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex:0 0 52%;
    }
    .contact-form-wrapper {
        display: flex;
        flex:1;
        
    }
    .contact-wrapper p {
        width: 60%;
        margin-left: 15px;
        text-align: justify;
        
    }
    .contacts-image {
        
        margin-top: 15px;
        
    }
    .contact-form {
       width: 100%;
        
        
    }
}





/*Bootstrap 4 breakpoints

 
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
 
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
} 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}